<div class="site-header">

    <nav class="site-nav">

      <div class="site-left">
        <a class="page-link" href="{{ site.baseurl  | absolute_url }}/">Domov</a>

      </div>

      <div class="site-right">
        {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | absolute_url }}">{{page.title}}</a>
          {% endif %}
        {% endfor %}

      </div>

        
    </nav>

    <h1>
      <a class="site-title" href="{{ site.baseurl  | absolute_url }}/">{{ site.title }}</a>
    </h1>
</div>
